.introArea {
  margin-top: 0px;
  text-align: center;
  font-family: SFUIText, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: rgb(226, 226, 226);
}

.websiteContent {
    text-align: center;
    font-size: 22px;
    font-family: SFUIText;
    color: rgb(226, 226, 226);
}

body  {
  background-color: #121212;
  /* background-image: url('./src/blackWaves.jpg'); */
  font-family: SFUIText;
}

.profileImg {
  border-radius: 60%;
}

@font-face {
  font-family: SFUIText; 
  src: url('./src/fonts/SFUIText-Regular.otf');
} 

h1 {
  display: block;
  font-size: 2.1em;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-size: 72px;
  background-image: linear-gradient(45deg, #bdb863, #850c2e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.angularButton {
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 5px;
    font-size: 45px;
    font-family: SFUIText;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    background: -webkit-radial-gradient(rgb(202, 72, 72), rgb(65, 13, 13));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
  