/* Navbar itself */
.navigationBar {
  overflow: hidden;
  background-color: rgb(39, 39, 39);
  position: fixed; 
  top: 0; 
  width: 100%;
}

/* Navbar links */
.navigationBar a {
  float: left;
  display: block;
  color: rgb(226, 226, 226);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-weight: 450;
  font-family: Helvetica, Arial, sans-serif;
}

/* Navbar change on mouse-over */
.navigationBar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.welcome {
  margin-top: 0px; /* Add a top margin to avoid content overlay */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: rgb(226, 226, 226);
  
}

body  {
  background-color: #313134;
  
}
